doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles/ADdashboard.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css' integrity='sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(src='https://kit.fontawesome.com/7bcca99956.js' crossorigin='anonymous')
  title Admin Dashboard
// html for the admin dashboard
.container
  nav
    ul
      li
        a.logo(href='#')
          img(src='/assets/DAYSTAR.png' alt='')
          span.nav-item Dashboard
      li
        a(href='/')
          i.fas.fa-home
          span.nav-item Home
      li
        a(href='#')
          i.fas.fa-user
          span.nav-item Profile
      li
        a(href='#')
          i.fas.fa-wallet
          span.nav-item Payments
      li
        a(href='#')
          i.fas.fa-tasks
          span.nav-item Tasks
      li
        a.logout(href='/logout' class='button')
          i.fas.fa-sign-out-alt
          span.nav-item Logout
  section.main
    .main-top
      h1 My Board 
      i.fas.fa-user-cog
    .main-skills
      .card
        i.fa-solid.fa-bag-shopping
        h3 Doll store
        p All you need
        a.button(href="/dollstore") Sell
      .card
        i.fa-solid.fa-square-check
        h3 Checkin/out
        p Attendence
        a.button(href="/babyCheckin") Check
      .card
        i.fa-solid.fa-user
        h3 Sitters
        p information
        a.button(href="/sitterslist") Check
      .card
        i.fa-solid.fa-users
        h3 Children
        p status
        a.button(href="/babieslist") Check
        
    section.main-course
      h1 
      .course-box
        ul
          | &lt;
          li
            a(href='/sitterregistration' class='button') Register Sitter
           
          li
            a(href='/childregistration' class='button') Register Babies
        .course-main 
         .course
          .box
            h3 Sitters
            p Assign Sitters
            a(href='/sitterslist' class='button') Assign
          .box
            h3 Babies
            p Assign Babies
            a(href='/babieslist' class='button') Assign
          .box
            h3 Items
            p Assign Sitters
            a(href='/sitterregistration' class='button') Assign
          
