doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles/dollstall.css')
  title Doll Stall
// html for the dollstall
.container
  header
    h1 Doll Store
    .shopping
      img(src='/assets/shopping cart.png')
      span.quantity o
  .list
.card
  h1 Card
  ul.listCard
  .checkOut
    .total 0
    .closeShopping Close
script(src='/js/dollstall.js')
