doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles/landing.css')
  title Landind Page Day Star Daycare 
// html for landing page
main
  .big-wrapper
    header
      .container
        .logo
          img(src='/assets/DAYSTAR.png' alt='Logo')
          h3 Day Star 
        .links
          ul
            li
              a(href='/contact') Contacts
            li
              a(href='/dollstore') Doll Stall
            li
              a(href='/pages/payment.html') Payments
    .showcase-area
      .container
        .left
          .big-title
            h1 Future is here
            h1 Join us today
          p.text
            | Day Star Daycare, Where Little Sparks Shine Bright in Kabalangala. Nestled in the heart of this vibrant community, our nurturing haven is where laughter echoes and imaginations soar. Every day, we paint the canvas of childhood with care, curiosity, and endless possibilities. At Day Star, we don&apos;t just watch children grow; we ignite their journey, lighting up the path to a future filled with wonder and joy.
          .cta
            a.btn(href='/login') Login
        .right
          img.kids(src='/assets/Happy baby-pana.png' alt='kids')
        .bottom-area
          .container
            button.toggle-btn
              i.far.fa-moon
              i.far.fa-sun
script(src='')
